.button{
    width:auto;
    display:block;
    margin:10px 0 10px 150px;
}
form,h2,a{
    margin-left:100px;
}
h4,p{
    margin:5px 0;
}
p{
    color:red;
}
input{
    width:205px;
}
h2{
    display:inline-block;
}
